@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
#foodcard {
  width: 180px;
  height: auto;
  z-index: 2000;
  padding: 1rem;

  background-color: #ffffff;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.06);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

#foodcard:hover {
  transform: translateY(-4px);
  box-shadow:
    0 6px 10px rgba(0, 0, 0, 0.15),
    0 3px 6px rgba(0, 0, 0, 0.1);
}
span {
  font-family: 'Oswald', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
p {
  font-family: 'Oswald', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#pricebox {
  margin-top: 10px;
}